/* @import url('https://fonts.googleapis.com/css?family=Sofia'); */
@import url('//db.onlinewebfonts.com/c/efa547ee1a9f8b027d37063c310d01ac?family=Arturo+Trial');

.terms{
    background-color:rgb(208, 245, 208);
    color:black;
    font-family: "Arturo Trial", sans-serif;
    padding: 50px;
}
.heading{
    text-align: center;
    font-family: "Arturo Trial", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.city {
    text-align: center;
    background-color: lavenderblush;
    color: black;
    border: 1px solid black; 
    padding-left: 40px;  
    /* width: 50% ; */
    margin: 3px;
    padding: 2px;
  }
  table, th, td {
    border:1px solid black;
  }
.tabledata{
    align-content: center;
    font-family: "Arturo Trial", sans-serif;
    width:100

}